

    <div class="modal-wrapper">
        
        <div class="modal-container">
            
            <h2>Legal Notice</h2>
            
            <p>The domain www.hotelelmoli.com is the property of HOTEL EL MOLÍ, with Tax Identity 40412908E. The company’s registered offices are at Ctra. de la Platja 3, 17470 Sant Pere Pescador, Girona. You can also contact us on +34 972 52 00 69 or email: info@hotelelmoli.com.</p>
            
            <h3>Intellectual and Industrial Property</h3>
            <p>The entire contents of this website are protected by industrial and intellectual property rights that users of this website must respect. The reproduction or distribution of the materials included in this site is forbidden without written authorisation of HOTEL EL MOLÍ.</p>
            
            <h3>Cookies policy</h3>
            <p>This website does not use cookies, neither own nor third-party, or any other device or data storage file of users that are managed directly by the publisher and owner of this website.</p>
            
            <h3>Privacy policy</h3>
            <p>In accordance with the general data protection regulation (UE 2016/679), HOTEL EL MOLÍ is committed to protecting your privacy and guarantees compliance with personal data protection legislation.</p>
            
        </div><!-- /.modal-container -->
        
    </div> <!-- sk-modal -->

    