

    <div class="modal-wrapper">
        
        <div class="modal-container">
            <div class="row lined">
                <div class="column">
                    <h2>Sonderangebote</h2>
                    <p><strong>07.04 - 31.05</strong></p>
                </div>
            </div>
            
            <div class="row lined">
                <div class="column column-75">
                    <p>Doppelzimmer Standard mit Frühstück</p>
                </div>
                <div class="column column-25">
                    <p><strong>85€</strong></p>
                </div>
            </div>
            <div class="row lined">
                <div class="column column-75">
                    <p>Doppelzimmer mit Massagebadewanne und Frühstück</p>
                </div>
                <div class="column column-25">
                    <p><strong>95€</strong></p>
                </div>
            </div>
        </div><!-- /.modal-container -->
        
        <div class="align-center">
            <p><strong>Reservas: tel. <a href="tel:0034972520069">+34 972 52 00 69</a> · e-mail <a href="mailto:info@hotelelmoli.com">info@hotelelmoli.com</a></strong></p>
        </div>
        
    </div> <!-- sk-modal -->

    