

    <div class="modal-wrapper">
        
        <div class="modal-container">
            
            <h2>Avís Legal</h2>
            
            <p>El domini www.hotelelmoli.com és propietat de l'empresa HOTEL EL MOLÍ, amb el NIF 40412908E. El domicili de l'empresa és Ctra. de la Platja 3, 17470 Sant Pere Pescador, Girona. També pot posar-se en contacte amb nosaltres en el +34 972 52 00 69 o l'e-mail: info@hotelelmoli.com.</p>
            
            <h3>Propietat intel·lectual i industrial</h3>
            <p>La totalitat del contingut d'aquest lloc web està protegit per drets de propietat industrial i intel•lectual que l'usuari d'aquest lloc web ha de respectar. Queda prohibida la reproducció o distribució dels materials inclosos en aquest lloc web sense autorització expressa de HOTEL EL MOLÍ.</p>
            
            <h3>Política de cookies</h3>
            <p>Aquesta web no utilitza cookies pròpies ni de tercers, ni cap altre dispositiu o fitxer d'emmagatzematge de dades dels usuaris que siguin gestionats directament per l'editor i propietari d'aquesta web.</p>
            
            <h3>Política de privacitat</h3>
            <p>De conformitat amb el Reglament General de Protecció de Dades (UE 2016/679), HOTEL EL MOLÍ es compromet a protegir la seva privacitat i li garanteix el compliment de la legislació de protecció de dades personals.</p>
            
        </div><!-- /.modal-container -->
        
    </div> <!-- sk-modal -->

    