/*! Mixins */
// ==========================================================================

// Animations
//===============
.transition01 (@who: all, @length: 0.1s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition02 (@who: all, @length: 0.2s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition04 (@who: all, @length: 0.4s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition05 (@who: all, @length: 0.5s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transitiondelay00 (@length: 0) {
  -webkit-transition-delay: @length;
     -moz-transition-delay: @length;
          transition-delay: @length;
}

.transitiondelay04 (@length: 0.4s) {
  -webkit-transition-delay: @length;
     -moz-transition-delay: @length;
          transition-delay: @length;
}

// Border radius
//===============
.border-radius0 (@radius: 0) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}
