/*********************************************
  * Filename: style.css
  * Website: http://www.hotelelmoli.com
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 15/06/2016
  * Version: 1.0
*********************************************/

@import "reset.less";
@import "preloader.less";
@import "variables.less";
@import "mixins.less";



/* 
Primary style
-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    color: #444;
    background-color: white;
    font-weight: 300;
    /* IE hack */
    overflow-x: hidden;
}

body, html {
    /* important */
    height: 100%;
}

p {
    margin: 1em 0;
}

a {
    color: #52bff7;
    text-decoration: none;
    .transition04;
}

a:hover,
a:focus {
    color: #000;
}

strong {
    font-weight: 500;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


/* 
Modules - reusable parts of our design
-------------------------------- */
.container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.container-1024 {
    max-width: 1024px;
}

.container-1280 {
    max-width: 1280px;
}

.container-fullwidth {
    max-width: 100%;
}

.container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}


/* 
Main components 
-------------------------------- */
.skv-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    .transition05;
}

.skv-header:after {
    content: "";
    display: table;
    clear: both;
}

.skv-header #logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 9;
}

.skv-header #logo img {
    display: block;
    width: 50px;
    height: 50px;
    .transition05;
}

@media only screen and (min-width: 769px) {
    .skv-header {
        height: 70px;
    }
    
    .skv-header.scrolled {
        height: 40px;
    }
    
    .skv-header #logo {
        width: 70px;
        margin: 0;
    }
    
    .skv-header #logo img {
        width: 70px;
        height: 70px;
    }
    
    .skv-header.scrolled #logo img {
        width: 40px;
        height: 40px;
    }
}


.main-nav {
    float: right;
    margin-right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    background: url("../images/svg/cd-icon-menu.svg") no-repeat center left;
    background-size: 38px 38px;
    cursor: pointer;
}

.main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(100%, 50px, 0);
    -moz-transform: translate3d(100%, 50px, 0);
    -ms-transform: translate3d(100%, 50px, 0);
    -o-transform: translate3d(100%, 50px, 0);
    transform: translate3d(100%, 50px, 0);
    .transition05;
}

.main-nav ul.is-visible {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
}

.main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: rgba(255,255,255,0.95);
    border-top: 1px solid rgba(68, 68, 68, 0.25);
    color: #444;
    .transition04;
}

.languages {
    //position: relative;
    //right: 50px;
    //left: 50%;
    //top: 0;
    margin: 0;
    padding: 0 50px;
    width: 100%;
    height: 25px;
    cursor: auto;
    text-align: center;
}

.languages ul {
    line-height: 25px;
    padding: 0;
}

.languages li {
    display: inline-block;
    margin: 0;
}

.languages a {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 0.350em;
    font-size: 0.75em;
    color: #888;
    .transition04;
}

.languages a:hover,
.languages a:focus {
    color: #000;
    background: rgba(204, 204, 204, 0.25);
}

.contact {
    //position: absolute;
    //top: 25px;
    //right: 0;
    width: 100%;
    height: 25px;
    padding: 0 50px;
    text-align: center;
}

.contact a {
    height: 25px;
    line-height: 25px;
    font-size: 0.8em;
    text-align: center;
    display: inline;
    margin-left: -10px;
}

.contact a:before {
    content: "";
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    width: 30px;
    height: 25px;
    display: inline-block;
    margin: 0 -5px -7px 0; 
    background-image: url("../images/svg/ios-telephone.svg");
}


@media only screen and (min-width: 769px) {
    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 90px;
        padding-right: 180px;
        width: 100%;
        height: auto;
        background: none;
        cursor: auto;
    }
    
    .main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        line-height: 70px;
        .transition05;
    }
    
    .main-nav ul.is-visible {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .scrolled .main-nav ul {
        line-height: 40px;
        .transition02;
    }
    
    .main-nav li {
        position: relative;
        display: inline-block;
        margin-left: 0.500em;
        margin-right: 0.500em;
        .transition05;
    }
    
    .no-touch .main-nav li:hover {
        background: rgba(204, 204, 204, 0.25);
        .transition05;
    }
    
    .no-touch .main-nav li.current-menu-item:hover {
        color: #52bff7;
        background: transparent;
    }
    
    .no-touch .main-nav li.current-menu-item a:hover {
        cursor: default;
    }
    
    /*.main-nav li:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        top: 20px;
        background: #444;
        height: 2px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    
    .scrolled .main-nav li:before {
        top: 6px;
    }
    
    .main-nav li:hover:before,
    .main-nav li:focus:before,
    .main-nav li:active:before {
        left: 47%;
        right: 47%;
    }
    
    .main-nav li.current-menu-item:hover:before,
    .main-nav li.current-menu-item:focus:before,
    .main-nav li.current-menu-item:active:before {
        left: 45%;
        right: 45%;
    }*/
    
    .main-nav a {
        position: relative;
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em 1em;
        border-top: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        font-size: 0.875rem;
    }
    
    .main-nav .current-menu-item a {
        color: #52bff7;
    }
    
    .languages {
        position: absolute;
        right: 0;
        width: 100%;
        max-width: 180px;
        height: 40px;
        padding: 0;
    }

    .languages ul {
        line-height: 40px;
    }

    .languages a {
        height: 40px;
        line-height: 40px;
        padding: 0 0.500em;
        font-size: 0.9em;
    }
    
    .contact {
        position: absolute;
        top: 40px;
        right: 0;
        width: 100%;
        max-width: 180px;
        height: 30px;
        padding: 0;
        .transition04;
        .transitiondelay04;
    }
    
    .scrolled .contact {
        right: -180px;
        .transition01;
        .transitiondelay00;
    }
    
    .contact a {
        height: 30px;
        line-height: 30px;
    }
    
    .contact a:before {
        height: 30px;
        margin: 0 -5px -10px 0; 
    }
}

.main-content {
    /* you need to assign a min-height to the main content so that the children can inherit it*/
    height: 100%;
    position: relative;
    z-index: 1;
}

.fixed-bg {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.fixed-bg-90 {
    min-height: 90vh;
}

.fixed-bg-75 {
    min-height: 75vh;
}

.fixed-bg h1,
.fixed-bg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    font-size: 30px;
    font-size: 1.875rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
}

.fixed-bg.bg-hotel {
    background-image: url("../images/hotel.jpg");
}

.fixed-bg.bg-rooms {
    background-image: url("../images/habitacions.jpg");
}

.fixed-bg.bg-services {
    background-image: url("../images/serveis.jpg");
}

.fixed-bg.bg-photos {
    background-image: url("../images/fotos.jpg");
}

.fixed-bg.bg-prices {
    background-image: url("../images/preus.jpg");
}

.fixed-bg.bg-hammock {
    background-image: url("../images/hamaca.jpg");
}

@media only screen and (min-width: 768px) {
    .fixed-bg h1,
    .fixed-bg h2 {
        font-size: 36px;
    }
}

@media only screen and (min-width: 1170px) {
    .fixed-bg {
        background-attachment: fixed;
    }
    
    .fixed-bg h1,
    .fixed-bg h2 {
        font-size: 64px;
        font-size: 4rem;
        font-weight: 300;
    }
}

.scrolling-bg {
    position: relative;
    min-height: 100vh;
    padding: 4em 0;
    background-color: #fff;
    color: #444;
    line-height: 1.6;
    z-index: 2;
}


@media only screen and (min-width: 768px) {
    .scrolling-bg {
        padding: 6em 0;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 2;
        font-weight: 300;
    }
}


/* 
Grid (based on milligram.css)
-------------------------------- */
.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.row .column {
    display: block;
    flex: 1;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row .column.column-25 {
    flex: 0 0 25%;
    max-width: 100%;
}
.row .column.column-33 {
    flex: 0 0 33.3333%;
    max-width: 100%;
}

.row .column.column-50 {
    flex: 0 0 50%;
    max-width: 100%;
}

.row .column.column-66 {
    flex: 0 0 66.6666%;
    max-width: 100%;
}

.row .column.column-75 {
    flex: 0 0 75%;
    max-width: 100%;
}

@media (min-width: 40rem) {
    .row {
        flex-direction: row;
        margin-left: -1rem;
        width: calc(100% + 2.0rem);
    }
    
    .row .column {
        margin-bottom: inherit;
        padding: 0 0.5rem;
    }
    
    .row .column.column-25 {
        max-width: 25%;
    }
    .row .column.column-33 {
        max-width: 33.3333%;
    }
    
    .row .column.column-50 {
        max-width: 50%;
    }
    
    .row .column.column-66 {
        max-width: 66.6666%;
    }

    .row .column.column-75 {
        max-width: 75%;
    }
}


/* 
Footer
-------------------------------- */
footer {
    position: relative;
    min-height: 40vh;
    padding: 4em 0;
    line-height: 1.6;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.cont-footer {
    position: relative;
    color: #333;
    background-color: #fff;
    padding: 2em 1em;
    width: 100%;
    /*max-width: 1024px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1440px;*/
    text-align: center;
}

footer a img {
    width: 33px;
    height: 33px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

footer a img:hover,
footer a img:focus {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}



/* 
Buttons
-------------------------------- */
.more-btn {
    position: absolute;
    width: 94%;
    height: calc(90% - 70px);
    bottom: 5%;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 3%;
    /*right: calc(50% - 5em);*/
    background-color: transparent;
    /*border: 1px solid rgba(255, 255, 255, 0.5);*/
    z-index: 9;
}

.discover {
    position: absolute;
    bottom: -0.500em;
    width: 16%;
    height: auto;
    margin: 0 42%;
    padding: 1em 0 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    font-size: 0.875em;
    background-color: transparent;
    
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.discover::after {
    content: "";
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    border-right: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    transform: rotate(135deg);
    margin: 0 auto;
    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.discover:hover,
.discover:focus {
    -webkit-transform: translate3d(0px, 7px, 0px);
    -moz-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px);
}

.discover span {
    display: none;
}

.buttons {
    position: relative;
    display: block;
    //width: 70%;
    margin: 0 auto;
    padding: 2em 0 0.500em;
    background-color: #fff;
    text-align: center;
    /*border: 1px solid #ccc;*/
    z-index: 9;
}

.booking {
    display: inline-block;
    width: 80%;
    //min-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-size: 1.250rem;
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0.500em 0;
    /*border: 1px solid #ccc;
    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;*/
    
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.booking:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.booking:hover:before,
.booking:focus:before,
.booking:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.booking::after {
    content: "";
    position: absolute;
    /*top: 0.75em;*/
    right: 0;
    margin: 0.4em 5% 0 0;
    /*border-width: 25px 25px 0 0;
    border-style: solid;
    border-color: #444 #fff;*/
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 1em;
    height: 1em;
    border-right: 0.1em solid #fff;
    border-top: 0.1em solid #fff;
    transform: rotate(45deg);
}

.booking:hover,
.booking:focus {
    //background-color: #000;
    color: #fff;
}

.offers {
    display: inline-block;
    width: 80%;
    //min-width: 250px;
    margin: 0.500em auto 0;
    text-align: center;
    font-size: 20px;
    font-size: 1.250rem;
    background-color: rgba(204, 204, 204, 0.5);
    /*border-bottom: 2px solid #444;*/
    padding: 0.500em 0;
    /*border: 1px solid #ccc;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;*/
    
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.offers:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #444;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.offers:hover:before,
.offers:focus:before,
.offers:active:before {
    right: 0;
}

@media only screen and (min-width: 768px) {
    .booking,
    .offers {
        width: 50%;
    }
}



/* 
Hotel section
-------------------------------- */
.copy-home {
    text-align: center;
    //padding-top: 60px;
}



/* 
Rooms section
-------------------------------- */
.slider {
    position: relative;
    margin-top: 6em;
    margin-bottom: 0;
    z-index: 2;
}

.slider h2 {
    font-size: 24px;
    font-size: 1.500em;
    font-weight: 500;
    margin: 1em auto 2.750em;
}

.slider h2::after {
    content: "";
    position: absolute;
    background-color: #444;
    height: 2px;
    width: 10%;
    top: 0;
    left: 0;
    margin-top: 2em;
}

/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides {
  margin: 0 auto 40px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: transparent;
  list-style: none;
  margin: 1em auto 2em;
  max-width: 768px;
  padding: 1em 0;
  text-align: center;
  width: 100%;
    border-top: 2px solid #444;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 4px;
}

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}

.rslides_tabs li:first-child {
  margin-left: 0;
}

.rslides_tabs li:last-child {
  margin-right: 0;
}

.slider-pager a {
  display: inline-block;
}

.slider-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 1px #888;
}

.slider-pager img {
  float: left;
}

.slider-pager a {
  padding: 0;
}

.booknow {
    display: inline-block;
    position: relative;
    border: 2px solid #444;
    padding: 0.350em 1.650em;
    margin: 2em 0;
    color: #444;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.booknow:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: @blue;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.booknow:hover:before,
.booknow:focus:before,
.booknow:active:before {
    left: 0;
    right: 0;
}

.booknow:hover,
.booknow:focus {
    color: #52bff7;
    border-color: transparent;
}

/*
Services section
-------------------------------- */
.column img {
    width: 100%;
    height: auto;
}


/*
Fotos section
-------------------------------- */
html.swipebox-html {
    overflow: hidden;
}

.gallery {
    margin: 4em auto;
    text-align: center;
}

.thumbnail {
    display: inline-block;
    margin: 0.150em 0.350em;
}


/* 
Prices section
-------------------------------- */
// http://www.w3schools.com/howto/howto_css_pricing_table.asp
.table-columns {
    float: left;
    width: 33.3%;
    padding: 1em 0.250em;
}

.price {
    list-style-type: none;
    //border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.7);
}

.price .header {
    background-color: rgba(204, 204, 204, 0.25);
    padding: 1em;
}

.price .header h2 {
    font-weight: 500;
    font-size: 1.350em;
    line-height: 1.2;
    color: #52bff7;
    margin-top: 0.350em;
}

.price .header h2 + p {
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.4;
    margin-top: 0.250em;
}

.price li {
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    text-align: center;
}

.price li:last-child {
    border-bottom: none;
}

.price li p {
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.5;
    margin: 0;
}

.price li p + span {
    font-weight: 300;
    font-size: 1.65em;
    line-height: 1.2;
}

.price .grey {
    background-color: rgba(204, 204, 204, 0.1);
}

.button {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.650em 0;
    background: #52bff7;
    border: 2px solid #52bff7;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: #fff;
    color: #52bff7;
}

@media only screen and (max-width: 600px) {
    .table-columns {
        width: 100%;
    }
}

/*
table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

th, td {
    font-family: inherit;
    font-size: .875em;
    line-height: 1.45;
    color: #444;
    vertical-align: middle;
    padding: 1em;
}

th {
    font-weight: 500;
}

colgroup:nth-child(1) { width: 34%; border: 0 none; }
colgroup:nth-child(2) { width: 22%; border: 1px solid #ccc; }
colgroup:nth-child(3) { width: 22%; border: 1px solid #ccc; }
colgroup:nth-child(4) { width: 22%; border: 1px solid #ccc; }*/

/* Tablehead 
thead th {
    background: rgba(204, 204, 204, 0.25);
    text-align: center;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 2em 0 1em;
    font-weight: 500;
    color: #888;
}

thead th:nth-child(1) {
    background: transparent;
}

thead th h2 {
    font-weight: 500;
    font-size: 1.350em;
    line-height: 1.2;
    color: #52bff7;
}

thead th h2 + p {
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.4;
}*/

/* Tablebody 
tbody th { background: #fff; border-left: 1px solid #ccc; }

tbody td { background: #fff; text-align: center; }

tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td { background: rgba(204, 204, 204, 0.25); border: 1px solid #ccc; border-width: 1px 0 1px 1px; }
tbody tr:last-child td { border-bottom: 0 none; }

tbody tr td {
    font-size: 1.150em;
} */

/* Tablefooter
tfoot th {
    padding: 2em 1em;
    border-top: 1px solid #ccc;
}

tfoot td {
    text-align: center;
    padding: 1em;
    border-top: 1px solid #ccc;
}

tfoot a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1em 2em;
    background: #52bff7;
    border: 2px solid #52bff7;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

tfoot a:hover,
tfoot a:focus {
    background: #fff;
    color: #52bff7;
}

@media only screen and (max-width: 768px) {
    thead th h2 {
        font-weight: 500;
        font-size: 1em;
    }
    
    th, td {
        padding: 0.125em;
    }
    
    tfoot td {
        padding: 0 0.2em;
    }
    
    tfoot a {
        padding: 0.5em 0.250em;
    }
}*/


/* 
Sub footer
-------------------------------- */
.sub-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.850em 0;
    text-align: center;
    font-size: 0.800em;
    color: #888;
}

.sub-footer span {
    margin: auto 0.75em;
}

.sub-footer a {
    color: #888;
}

.sub-footer a:hover {
    color: #52bff7;
}



/* 
Back to Top
-------------------------------- */
#back-to-top {
    position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	background-color: #888;
    text-align: center;
	margin: 0;
	width: 44px;
	height: 44px;
	
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 99;
}

#back-to-top:before {
	font-size: 18px;
	color: #fff;
	line-height: 44px;
    display: inline-block;
    content: '\25b2';
}

#back-to-top.cd-is-visible,
#back-to-top.cd-fade-out,
.no-touch #back-to-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

#back-to-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

#back-to-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 0.5;
}

#back-to-top.cd-is-visible:hover,
#back-to-top.cd-is-visible:focus,
#back-to-top.cd-fade-out:hover,
#back-to-top.cd-fade-out:focus {
    opacity: 0.75;
}



/* 
Branches
-------------------------------- */
.branches {
    min-height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 20%;
}

.branch1 {
    background-image: url("../images/branch-1.jpg");
}

.branch2 {
    background-image: url("../images/branch-2.jpg");
    margin-top: 2em;
    margin-bottom: -4em;
}

.branch3 {
    background-image: url("../images/branch-2r.jpg");
    margin-top: 2em;
    margin-bottom: -2em;
}

.branch4 {
    background-image: url("../images/branch-1r.jpg");
}

.branch2em {
    margin-bottom: 2em;
}

.branch3em {
    margin-bottom: 3em;
}




// Plugins
// ---------------------------------------------------------------------------
@import "plugins.less";
