/*!
 * Preloader
 */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff; /* change if the mask should have another color then white */
	z-index: 9999; /* makes sure it stays on top */
}

#status {
    /*width: 40px;
    height: 40px;*/
    position: absolute;
    /*left: 50%;*/ /* centers the loading animation horizontally one the screen */
    /*top: 60%;*/ /* centers the loading animation vertically one the screen */
    /*margin: -20px 0 0 -20px;*/ /* is width and height divided by two */
}

/* -------------- Loader -------------- */
#loading {
	background-color: #FFF;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 80px;
	margin-top: -50px;
	margin-left: -40px;
}

.object {
	width: 80px;
	height: 10px;
	margin-bottom: 2px;
	-webkit-animation: animate 2.2s infinite;
	animation: animate 2.2s infinite;
}

.object_black {
	width: 80px;
	height: 2px;
	margin-bottom: 2px;
	-webkit-animation: animate 2.2s infinite;
	animation: animate 2.2s infinite;
    background-color: #000;
}

#object_one {
    background-color: #52bff7;
}

#black_one {
    -webkit-animation-delay: 0.1s; 
    animation-delay: 0.1s;
}

#object_two { 
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s;
    background-color: #3db7f6;
}

#black_two {
    -webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s;
}

#object_three {	
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    background-color: #0584e5;
}

#black_three {
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
}

#object_four {	
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: #dfb32c;
}
#black_four {
    -webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s;
}

#object_five {	
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background-color: #e2bf47;
}
#black_five {
    -webkit-animation-delay: 0.9s; 
    animation-delay: 0.9s;
}

#object_six {	
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-color: #ebe3b4;
}



@-webkit-keyframes animate {
 
  50% {
	-ms-transform: scale(1.3);
   	-webkit-transform: scale(1.3);
    transform: scale(1.3);
	  }

}

@keyframes animate {
  50% {
	-ms-transform: scale(1.3);
   	-webkit-transform: scale(1.3);
    transform: scale(1.3);
	  }
  
}