/*! Variables */
// ==========================================================================

// Colors
//============
/* Coolors Exported Palette - coolors.co/e2bf47-52bff7-444444-888888-cccccc */
@yellow: #e2bf47; //rgba(226, 191, 71, 1)
@blue: #52bff7; //rgba(82, 191, 247, 1)
@darkgrey: #444444; //rgba(68, 68, 68, 1)
@grey: #888888; //rgba(136, 136, 136, 1)
@lightgrey: #cccccc; //rgba(204, 204, 204, 1)


@black: #000000; //rgba(0, 0, 0, 1)
@white: #ffffff; //rgba(255, 255, 255, 1)


/* logo colors */
@blue: #52bff7;
@sky: #3db7f6;
@sea: #0584e5;
@sun: #dfb32c;
@beach: #e2bf47;
@sand: #ebe3b4;


/* Social Media Colors */
@blogger: #fb8f3d; //rgba(251, 143, 61);
@facebook: #3b5998; //rgba(59, 89, 152, 1);
@flickr: #ff0084; // rgba(255, 0, 132, 1);
@twitter: #55acee; //rgba(85, 172, 238, 1);
@googleplus: #dd4b39; //rgba(211, 75, 57, 1);
@instagram: #517fa4; //rgba(81, 127, 164, 1);
@linkedin: #0075b5; //rgba(0, 119, 181, 1);
@periscope: #40a4c4; //rgba(64, 164, 196, 1);
@pinterest: #bd081c; //rgba(189, 8, 28, 1);
@skype: #00aff0; //rgba(0, 175, 240, 1);
@vimeo: #1ab7ea; //rgba(26, 183, 234, 1);
@vine: #00bf8f; //rgba(0, 191, 143, 1);
@whatsapp: #25D366; //rgba(37, 211, 102, 1);
@wordpress: #21759b; //rgba(33, 117, 155);
@youtube: #cd201f; //rgba(205, 32, 31, 1);