

    <div class="modal-wrapper">
        
        <div class="modal-container">
            
            <h2>Aviso Legal</h2>
            
            <p>El dominio www.hotelelmoli.com es propiedad de HOTEL EL MOLÍ, con NIF 40412908E. El domicilio fiscal de la empresa es Ctra. de la Platja 3, 17470 Sant Pere Pescador, Girona. Se puede poner en contacto con nosotros en el +34 972 52 00 69 o en el e-mail: info@hotelelmoli.com.</p>
            
            <h3>Propiedad intelectual</h3>
            <p>La totalidad del contenido de este sitio web está protegido por derechos de propiedad industrial e intelectual que el usuario ha de respetar. Queda prohibida la reproducción o distribución de los materiales incluidos en este sitio web sin autorización expresa de HOTEL EL MOLÍ.</p>
            
            <h3>Política de cookies</h3>
            <p>Esta web no utiliza cookies propias ni de terceros, ni ningún otro dispositivo o archivo de almacenamiento de datos de los usuarios que sean gestionados directamente por el editor y propietario de esta web.</p>
            
            <h3>Política de privacitat</h3>
            <p>De conformidad con el reglamento general de protección de datos (UE 2016/679), HOTEL EL MOLÍ se compromete a proteger su privacidad y le garantiza el cumplimiento de la legislación de protección de datos personales.</p>
            
        </div><!-- /.modal-container -->
        
    </div> <!-- sk-modal -->

    